@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --ff: Roboto, Arial, serif;
  --font-result: Arial, 'Times new roman';

  --clr-accent: rgb(33, 158, 197);
  --clr-accent-hover: rgb(38, 190, 236);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 1.2em var(--ff);
  padding: 2rem;
  background-color: rgb(241, 239, 239);
}

input,
button {
  font-size: 1.2rem;
}

textarea {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  resize: vertical;
}

input,
textarea {
  padding: 0.3rem;
}

.cursor {
  cursor: pointer;
}

#root {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 2rem;
}
